<div class="newsdivheader">
<div class="head">
    <div class="head-icon" id="head-icon1">News </div>
    <div class="head-icon" id="head-icon2">More </div>
</div>
<div class="homenews">
    <div class="grid-item" id="item1">
      <div class="itemtxt"
        >It is Fire coming from the sky this summer netizens are worried about the rising tempreture.</div>
    </div>
    <div class="grid-item" id="item2">
      <div class="itemtxt"
        >Dragon is angry after the 
        Nancy’s tour in the Taiwan and sorrounds the Taiwan with ships</div>
    </div>
    <div class="grid-item" id="item3">
      <div class="itemtxt"
        >One Another Volcano has also Bursted and the lava is also getting out till 100 ft.</div>
    </div>
    <div class="grid-item" id="item4">
        <div>
      <div class="itemtxt"
        >Indian has brought two other medal in the Common wealth so far</div>
    </div>
    </div>
  </div>
    
</div>
