/* CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Html Behaviour */

html {
  scroll-behavior: smooth;
}

/* CSS Root */

:root {
  --nav-height: 5.5rem;
}


/* Body */

body {
  background-color: #c0e2c0;
}

.newsdivheader {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 73rem;
  height: 30rem;
  width: 100vw;
  flex-wrap: wrap;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 35px;
}

.head-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  margin: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FF8D06;
}

#head-icon1{
    margin-top: 20px;
    margin-left: 10px;
}

#head-icon2{
    width: 5rem;
    margin-top: 20px; 
    margin-right: 10px; 
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
border: 1px solid #FF8D06;

/* identical to box height */

color: #FF8D06;
}

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 210px;
  height: 41rem;
  background-color: white;
}

.news {
  position: absolute;
  width: 30vw;
  right: 0px;
  height: 60rem;
  background-color: white;
  padding: 25px;
}

.homenews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  column-gap: 40px;
  row-gap: 40px;
  margin: 2px;
  padding: 25px;
}

.grid-item {
    display: flex;
  font-size: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 24rem;
  
  border-radius: 8px;
}

.itemtxt {
    display: flex;
align-items: center;
  position: relative;
  top: 15rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  height: 9rem;
  background: linear-gradient(0deg, rgba(21, 21, 21, 0.74) 20.72%, rgba(175, 175, 175, 0) 92.76%);
}



.iconellips {
  font-size: 50px;
  position: relative;
  bottom: 18px;
}

#item1 {
    background: url(./img/img1.png);
    } 


 #item2 {
    background: url(./img/img2.png);
  } 


 #item3 {
   background: url(./img/img3.png);
  } 
   
 #item4 {
    background: url(./img/img4.png);
  } 
