<div class="home">
  <div class="homenews">
    <div class="grid-item" id="item1">
      <span class="itemtxt"
        >No sign of rain has increased the tension of the Farmers, This year
        experiences the lowest rainfall of all time.<br /><i
          class="uil uil-ellipsis-h iconellips"
        ></i
      ></span>
    </div>
    <div class="grid-item" id="item2">
      <span class="itemtxt"
        >Best vacation in low
        Budget in Summer 
        Vacation:<br
      /></span>
    </div>
    <div class="grid-item" id="item3">
      <span class="itemtxt"
        >10 Upcoming Blockbuster Movies Staring the Indian Actors.<br
      /></span>
    </div>
    <div class="grid-item" id="item4">
      <span class="itemtxt"
        >New Cricket Series is going to start in Dubai against.<br
      /></span>
    </div>
    <div class="grid-item" id="item5">
      <span class="itemtxt"
        >China Navy Ships has been found floating near the Taiwan , Speacilly warships has taken its position around the taiwan and this creates the War situation.
        <br
      /></span>
    </div>
  </div>
  <div class="news">
    <div class="newshead" id="newsheadid"><h5 class="newshead">Most Popular News</h5></div>
    <div class="category">
      <span class="newstitle">Popular</span>
      <span class="newstitle" id="newshigh"><p>Treanding</p></span>
      <span class="newstitle">Newest</span>
    </div>
    <div class="itemclass">
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b news-items-icon"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
      <div class="news-items"><i class="uil uil-angle-right-b"></i><div class="newsdetail">8 cases of monkey pox has been found in India:Indian Health Ministry</div></div>
    </div>
  </div>
</div>
