<div class="div divs">
 
      <!-- Navigation Bar -->

      <nav>
        <a href="#home" id="logo"><i class="uil uil-bars"></i></a>
        <i class="fas fa-bars" id="ham-menu"></i>
        <a href="#home" class="img"><div class="imglogo divs"></div></a>
        <ul id="nav-bar">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#news">News</a>
          </li>
          <li>
            <a href="#entertainment">Entertainment</a>
          </li>
          <li>
            <a href="#govermentPolicy">Goverment Policy</a>
          </li>
          <li>
            <a href="#jobs">Jobs</a>
          </li>
          <li>
            <a href="#sports">Sports</a>
          </li>
        </ul>
      </nav>

 
  
</div>
