<div class="rectangle" id="rectangle1">
  <a href="#">
    <div class="logo rectangle"></div>
  </a>
  <div class="rectangle2 rectangle">
    <div class="searchbar rectangle2">
      <input
        type="search"
        name="search"
        id="search"
        placeholder="Search News and Jobs Here"
        class="search rectangle2"
      />
    </div>
    <div class="mands rectangle ">
      <span class=" mandss rectangle" id="miclogo"><i class="uil uil-search uni-icon"></i></span>
      <span class=" mandss rectangle" id="searchlogo"><i class="uil uil-microphone uni-icon"></i></span>
    </div>
  </div>
   
     <div class="bgchange">
       <span class="bgchangeclass" id="arrow">
        <i class="uil uil-arrow-resize-diagonal"></i>
      </span> 
       <span class="bgchangeclass" id="bgchange">Change this background ?</span>
   </div>  
</div>
